/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.message {
  height: auto;
  font-weight: 500;
}

tr {
  padding-bottom: 10px;
}

span:not(.note) {
  font-size: 0.9rem;
  line-height: 14px;
}

.note-text {
  height: 7.95rem;
  overflow: hidden;
  display: inline-block;
  position: relative;
  text-align: left;
}

.note-field:not(.show)::after {
  content: '...';
  padding-left: 0.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.show {
  overflow: visible;
  text-overflow: none;
  height: auto;
}

button {
  background: transparent;
  font-size: small;
  border: none;
  padding: 0;
  cursor: pointer;
}

button:hover {
  text-decoration: none;
}
