/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  max-width: 37rem;

  .content {
    div {
      margin: 0.8rem 0;
      word-wrap: break-word;
    }
  }
}

.bucket-range {
  height: 2rem;
  vertical-align: middle;
}

.r-value {
  margin: 0 !important;
  padding: 0 !important;
  text-align: right !important;
  padding-right: 35px !important;
}
