/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;
}

span {
  margin: 0.5em 0;
}

.margin-t {
  margin-top: 1em;
}

mat-divider {
  margin: 0 0 0.5em;
}

.container {
  max-width: 37rem;
}
