/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  .action-button {
    margin-left: auto;
  }

  .search-button {
    min-width: 30px;
    margin: 4px;
  }
}

table {
  tr.select-row:hover {
    cursor: pointer;
  }

  tr:nth-child(odd).td {
    color: black;
  }
}
