/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  width: 74rem;
}

.currency-form-container {
  padding: 16px 24px;
  margin-bottom: 16px;
}

.currency-search-field {
  flex: 1 1 auto;
  min-width: 0;
  margin-right: 20px;
}

.add-currency-button {
  flex-shrink: 0;
  min-width: 56px;
  width: 56px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 2.1em;
}

.currency-grid {
  max-width: 40%;
  justify-content: left !important;
}

mat-grid-tile {
  justify-content: left !important;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 100%;
}
