/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

table {
  width: 100%;
}

.mat-elevation-z1 {
  margin: 1em 0 1.5em;
}

.margin-t {
  margin-top: 1em;
}

h4 {
  font-weight: 500;
  margin: 1em 0;
}

h3 {
  font-weight: 500;
}

mat-divider {
  margin: 1em 0;
}

.margin-v {
  margin: 1em 0;
}

.margin-b {
  margin: 0 0 1em;
}

.tableName {
  padding-left: 2%;
}
