/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.del-btn {
  width: 20px !important;
  height: 25px;
  min-width: 20px !important;
  line-height: 0px;
  padding-left: 10px;
  padding-right: 25px;
}

.strikeoff {
  color: red !important;
  text-decoration: line-through;
  text-decoration-style: double;
}

.share-account-tables {
  display: flex;
  justify-content: space-between;
}

.content {
  padding-top: 10px;
}
