/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

table {
  width: 100%;
}

.mat-elevation-z1 {
  margin: 1em 0 1.5em;
}

h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;
}

span {
  margin: 0.5em 0;
}

mat-divider {
  margin: 0 0 0.5em;
}

.margin-t {
  margin-top: 1em;
}

.margin-b {
  margin-bottom: 0.25em;
}

.irc-table {
  width: 100%;

  tr.incentives-row {
    height: 0;

    > td {
      padding: 0;
    }

    .incentives {
      overflow: hidden;
    }

    .mat-card {
      border-radius: 0;
    }
  }
}
