/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.expandcollapsebutton {
  margin-top: -7px;
}

.container {
  max-width: 37rem;
}

.right-input {
  text-align: right;
}

.right-label {
  padding-right: 25px !important;
}

.form-heading {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
