/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@media (width >= 992px) {
  .is-active-wrapper {
    position: relative;

    .is-active {
      padding: 0 0 17.5px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

mat-divider {
  margin: 0 0 0.5em;
}

table {
  width: 100%;
}

.AddEventButton {
  margin-bottom: 10px;
}
