/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.password-never-expires-wrapper {
  padding: 17.5px 0;
}

.send-password-to-email-wrapper {
  padding: 17.5px 0;
}

.reset-password-error {
  color: #f44336;
  font-size: 80%;
  margin: 0;
}
