/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@use 'assets/styles/helper';
@use 'assets/styles/colours' as *;

.breadcrumb-wrapper {
  margin: 0 auto;
  max-width: 84rem;
  width: 90%;
  word-wrap: break-word;

  .breadcrumb {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
    line-height: 40px;

    .breadcrumb-title {
      font-size: 1.25rem;
      font-weight: 400;
    }

    .separator::before {
      content: '';
      border: 1.5px solid $mid-grey;
      margin: 0 0.6rem;
      font-size: 1.25rem;
      font-weight: 400;
    }

    .breadcrumb-label {
      display: inline;
      font-size: 1rem;

      .breadcrumb-link {
        a {
          text-decoration: none;
          color: $status-approved;

          &:hover {
            text-decoration: underline;
          }
        }

        &::after {
          content: '/';
          margin: 0 0.4rem;
        }
      }
    }
  }
}
