/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@use 'assets/styles/helper';
@use 'assets/styles/colours' as *;

.tab-container {
  padding: 1%;
  margin: 1%;

  .action-button {
    margin-left: auto;
  }

  .data-table-card {
    margin-top: 16px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

    .mat-card-content {
      padding: 0;

      .table-scroll-wrapper {
        overflow-x: auto;
        width: 100%;
      }
    }
  }

  table {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    th {
      background-color: rgb(0 0 0 / 4%);
      font-weight: 600;
      padding: 16px 24px;
      border-bottom: 2px solid rgb(0 0 0 / 12%);
      font-size: 0.875rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

    td {
      padding: 16px 24px;
      border-bottom: 1px solid rgb(0 0 0 / 6%);
      font-size: 0.9375rem;
    }

    .data-row {
      transition: background-color 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: rgb(0 0 0 / 3%);
      }
    }

    .checkbox-column {
      max-width: 60px;
      text-align: center;
    }

    .mat-column-select {
      max-width: 60px;
    }
  }
}

.tobe-deleted {
  text-decoration: line-through;
  color: $orange;
  opacity: 0.7;
  background-color: rgb(255 152 0 / 10%);
}

::ng-deep .mat-checkbox {
  .mat-checkbox-frame {
    border-width: 2px;
  }
}
