/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  max-width: 37rem;
}

.mat-card {
  padding: 20px;
}

.layout-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mat-card-actions {
  padding-top: 20px;
}

.gap-5px {
  gap: 5px;
}

.responsive-column {
  @media (width <= 768px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.m-b-20 {
  margin-bottom: 20px;
}
