/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  display: flex;
  justify-content: center;
  padding: 16px 12px;
}

.container > mat-card {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 20px;
  box-shadow:
    0 1px 3px rgb(16 24 40 / 10%),
    0 1px 2px rgb(16 24 40 / 6%);
}

mat-form-field {
  width: 100%;
}

.flex-48 {
  flex: 1 1 100%;
  min-width: 100%;
}

table {
  width: 100%;
}
