/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  .table-container {
    margin-top: 1rem;

    .bordered-table {
      width: 100%;

      .account-action-button {
        min-width: 1.625rem;
        padding: 0 0.375rem;
        margin: 0.25rem;
        line-height: 1.5625rem;
      }

      th,
      td {
        padding: 0.75rem 1rem;
      }

      th {
        font-weight: 500;
      }
    }

    mat-paginator {
      border-top: 1px solid #e0e0e0;
    }
  }
}
