/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#reset-password-form {
  .reset-password-input {
    width: 14rem;
    margin-top: 0.6rem;
  }

  .reset-password-button {
    width: 14rem;
    margin-top: 1rem;
  }

  .reset-password-error {
    color: #f44336;
    font-size: 80%;
    margin: 0;
  }

  mat-spinner {
    float: right;
    margin: 0.5rem 0;
  }
}
