/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  max-width: 37em;
  padding: 20px;

  .margin-v {
    margin: 1em 0;
  }

  .margin-b {
    margin: 0 0 1em;
  }

  .margin-t {
    margin-top: 1em;
  }
}
