/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

table {
  width: 100%;

  .action-button {
    min-width: 26px;
    padding: 0 0 3px;
    margin: 0 2%;
    line-height: 25px;
  }
}

.container {
  padding-top: 1%;
  padding-bottom: 2%;

  .delete-button {
    margin-left: 1%;
  }
}
