/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@use '@angular/material' as mat;

$pictonblue-yellowgreen-color-config: (
  primary: mat.m2-define-palette(mat.$m2-blue-palette, 400, 200, 600),
  accent: mat.m2-define-palette(mat.$m2-light-green-palette, 400, 200, 600),
  warn: mat.m2-define-palette(mat.$m2-red-palette)
);

$pictonblue-yellowgreen-theme: mat.m2-define-light-theme(
  (
    color: $pictonblue-yellowgreen-color-config
  )
);

.pictonblue-yellowgreen-theme {
  @include mat.all-component-colors($pictonblue-yellowgreen-theme);
}
