/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

h4 {
  font-weight: 500;
}

mat-radio-group,
h4 {
  margin: 1em 0;
}

mat-divider {
  margin: 1em 0 2em;
}

.margin-t {
  margin-top: 1em;
}

.radio-group-spacing {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

@media (width <= 768px) {
  .radio-group-spacing {
    flex-direction: column;
  }
}
