/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.card {
  min-width: 18.5rem;
  padding: 0;

  .header {
    :where(#office) {
      margin-bottom: -1.2em;

      // Make sure mat-label text is visible in light theme
      :where(mat-label) {
        color: rgb(0 0 0 / 87%); // Standard Material Design text color for light theme
      }
    }
  }

  .fallback {
    height: 20rem;
  }
}

// Dark theme specific styles
:host-context(.dark-theme) {
  .card {
    .header {
      :where(#office) {
        :where(mat-label) {
          color: white; // White text color for dark theme
        }
      }
    }
  }
}
