/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.rule-wrapper {
  margin: 17.5px 0 0;
}

.entries-wrapper {
  position: relative;

  .entries {
    padding: 0 0 17.5px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.radio-group-spacing {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

@media (width <= 768px) {
  .radio-group-spacing {
    flex-direction: column;
  }
}
