/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.mat-form-field-hint {
  font-size: 75%;
  color: rgb(0 0 0 / 60%);
  margin-top: 4px;
  margin-bottom: 8px;
}

form {
  padding: 0 1.5rem;

  .layout-row-wrap {
    width: 100%;
  }
}
