/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.space {
  padding-bottom: 40px;
}

.date-type {
  font-size: 1.25rem;
  font-weight: 400;
  min-width: 40%;
}

.date-value {
  display: inline;
  font-size: 1rem;
  min-width: 50%;
}

.table-row {
  vertical-align: middle;
}
