/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  min-width: 84rem;
  width: 84rem;
}

table {
  width: 100%;

  .select-row:hover {
    cursor: pointer;
  }
}

.success {
  color: #32cd32;
}

.fail {
  color: #f44366;
}

.currently-running {
  color: #32cd32;
}

.not-currently-running {
  color: #f44366;
}

.errorlog {
  color: #ffa726;
}

.job-error {
  background-color: #f7dbb7;
}

.suspend {
  background: #32cd32;
  color: #fff;
}

.activate {
  background: #f44366;
  color: #fff;
}

.space-top {
  margin-top: 30px;
}

.cdk-column-displayName,
.mat-column-displayName {
  flex: 0 0 5px !important;
}
