/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.action-buttons {
  width: 90%;
}

.sms-card {
  margin: 0 auto;
  width: 80%;
  padding: 0;

  .tab-content {
    padding: 1%;
    margin: 1%;

    .template-message {
      padding-inline: 1.5%;
      margin-top: 1%;
    }

    .search-button {
      max-width: 3%;
      max-height: 2%;
      padding-block: 2.25%;
    }
  }
}
