/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;
}

span {
  margin: 0.5em 0;
}

mat-divider {
  margin: 0 0 0.5em;
}

.margin-t {
  margin-top: 2em;
}

.family-member {
  h3 {
    margin: 1% auto;
  }

  p {
    line-height: 30px;
    margin-left: 2%;
  }
}

.address {
  h3 {
    margin: 1% auto;
  }

  p {
    line-height: 30px;
    margin-left: 2%;
  }
}
