/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  max-width: 86rem;
  width: 96%;
  padding-bottom: 30px;
}

fa-icon {
  position: relative;
  left: 5%;
}
