/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.account-card {
  .header {
    .profile-image-container {
      .client-image-button {
        min-width: 26px;
        padding: 0 6px;
        margin: 4px;
        line-height: 25px;
      }

      .signature {
        color: white;
        text-align: center;
        margin: 0;
        padding: 2%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.account-overview {
  color: white;
  min-width: 85%;
  margin-left: 10px;
}

.make-flex {
  display: flex;
}

.mat-card-title-group {
  width: 100%;
}
