/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

table {
  width: 100%;

  .select-row:hover {
    cursor: pointer;
  }
}

.flex-38 {
  .time-input {
    font-size: 14px;
    width: 100%;
  }
}

.gap-8px {
  gap: 8px;
}

.audit-filters-card {
  margin-bottom: 1.5rem;
  padding: 0.75rem 1rem;
}
