/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

table {
  width: 100%;

  .select-row:hover {
    cursor: pointer;
  }
}

.gl-account-tree {
  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  li {
    span {
      cursor: pointer;
    }
  }

  .gl-account-tree-invisible {
    display: none;
  }
}

.content {
  div {
    margin: 1rem 0;
    word-wrap: break-word;

    &.header {
      font-weight: 500;
    }
  }
}

// TODO: CONFIGURE THESE CLASSES GLOBALLY
.enabled {
  color: #32cd32;
}

.disabled {
  color: #f44366;
}

.manual-entries-allowed {
  color: #32cd32;
}

.manual-entries-not-allowed {
  color: #f44366;
}
