/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@use 'colours' as *;

.status-active {
  color: $status-active;
}

.status-inactive {
  color: $status-inactive;
}

.status-deleted {
  color: $status-deleted;
}

.status-pending {
  color: $status-pending;
}

.status-approved {
  color: $status-approved;
}

.status-overpaid {
  color: $status-overpaid;
}

.status-chargeoff {
  color: $status-chargeoff;
}

.status-active-overdue {
  color: $status-active-overdue;
}

.status-block {
  color: $status-active-overdue;
}

.status-matured {
  color: $status-matured;
}

.subStatus-contract-termination {
  color: $subStatus-contract-termination;
}

.mat-step-header .mat-step-icon-state-done {
  background-color: $state-done;

  .status-transfer-progress {
    color: $status-transfer-progress;
  }

  .status-transfer-hold {
    color: $status-transfer-hold;
  }
}
