/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.two-factor-auth-form {
  mat-radio-button {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .two-factor-auth-button {
    width: 14rem;
    margin-top: 0.5rem;
  }

  .two-factor-auth-input {
    width: 14rem;
  }

  mat-spinner {
    float: right;
    margin: 0.5rem 0;
  }
}

.radio-group-spacing {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

/* stylelint-disable-next-line media-feature-range-notation -- Safari compatibility */
@media (max-width: 768px) {
  .radio-group-spacing {
    flex-direction: column;
  }
}
