/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@use 'assets/styles/helper';
@use 'assets/styles/colours' as *;

.tab-container {
  padding: 1%;
  margin: 1%;

  h3 {
    margin: 1% auto;
  }

  .action-button {
    margin-left: auto;
  }

  table {
    width: 100%;
    color: $black;

    .account-action-button {
      min-width: 26px;
      padding: 0 0 3px;
      margin: 0 2%;
      line-height: 25px;
    }

    .strike {
      text-decoration: line-through;
      color: $status-active-overdue;
    }

    .linked {
      color: $status-approved;
    }

    .accrual {
      color: $msg-default;
    }
  }
}

.select-row:hover {
  cursor: pointer;
  font-weight: 800;
}
