/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.tab-container {
  padding: 1%;
  margin: 1%;

  h3 {
    margin: 1% auto;
  }

  .performance-history-container {
    border: 1px solid;
    padding: 1%;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    margin-bottom: 20px;
  }
}

span {
  margin: 0.5em 0;
}
